{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li {% if not category %} class="selected" {% endif %}>
                <a href="{% url 'shop:product_list' %}">ALL</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                   <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
            </ul>
    </div>

<div id="main" class="product-list" style="width:600px;">
    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
    <div class="row">
    {% for product in products %}
        <div class="col-sm-4 text-center" style="border:1px solid #efefef;">
            <a href="">
                <img style="width:150px;" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}">
            </a><Br>
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
            £{{ product.price }}
        </div>
    {% endfor %}
    </div><!--row-->
</div>

{% endblock %}